body {
	padding-top:70px;
}

#url {
	height:50px;
	font-size:25px;
	padding: 10px;
}

#submit-btn {
	height:50px;
	background: #ccc;
}

#url-box {
	margin-top:
	2em;
	margin-bottom:
	4em;
}																			
