{{define "head"}}
	<title>Publy Home {{if .Pubber.Username}} - {{.Pubber.Username}} {{ end }}</title>

{{end}}

{{define "body"}}
<div class="bs-docs-section clearfix">
	<div class="row" style="text-align:center;">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>Welcome to Publy!</h1>
			</div>
		</div>
		<div id="url-box" class="col-md-8 col-md-offset-2">
			<form class="form-horizontal" role="form" action="new" id="publy-form" method="post">
				<div class="input-group">
				   <input class="form-control" id="url" name="url" type="text" placeholder="Enter a Link to Shorten...">
				   <span class="input-group-btn">
				        <button id="submit-btn" class="btn btn-default" type="submit" form="publy-form"><span class="glyphicon glyphicon-menu-right"></span></button>
				   </span>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
			<div class="col-md-4">
				<h2>Reliable</h2>
				<p>Publy is built using Go on the Google App Engine platform. Go is a powerful concurrent server-side tool, and GAE Datastore provides a scalable backend to hold all your links and data.</p>
				<p><a class="btn btn-default" href="https://golang.org/" role="button">Go »</a></p>
        	</div>
        	<div class="col-md-4">
				<h2>Simple</h2>
				<p>Want to roll your own URL Shortener? Check out the source code on Github to get started. Publy is an open source golang project. The backend is not too complex, a good learning opportunity!</p>
				<p><a class="btn btn-default" href="https://github.com" role="button">View Repository »</a></p>
        	</div>
        	<div class="col-md-4">
				<h2>Real Time</h2>
				<p>PubNub signaling is used to gather realtime analytics on your publy links. The PN global data streaming network is fast and reliable. Not to mention, PN integrates cross-platform with ease.</p>
				<p><a class="btn btn-default" href="https://www.pubnub.com" role="button">PubNub »</a></p>
        	</div>
		</div>
</div>
{{end}}